[Unit]
Description=Set refresh rate on AC/Battery change

[Service]
Type=oneshot
ExecStart=%h/.local/bin/set-refresh.sh
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=%t
